.main{
margin-top:20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: center;
display: block;
}

.cart-heading {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
  }
  
  hr {
    width: 95%;
    margin: 15px auto;
  }

  .cart-card {
    display: flex;
    width: 94%;
    height: 145px;
    margin: 20px 35px ;
    padding:5px;
    background-color: #f1f1f1 !important;
    }
    
    .cart-image {
        width: 130px;
        height: 130px;
        object-fit: contain;
        margin-right: 10px;
        overflow: hidden;
        margin: 5px;
        padding:5px;
        background-size: cover !important;
            border-radius: 5px;
        box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.3);
      }
      

    .card-content{
        margin-left:25px;
    }

    .product-details-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    

.remove-product{
    display: flex;
    background: #1b1b1b !important;
    font-size:15px !important ;
    color:#fff;
    padding:7px 12px;
    margin-top: 20px !important;
    border-radius: 5px;
    cursor: pointer;
    height:40px !important;
    transition: background 0.3s, color 0.3s; /* Added transition property */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.remove-product:hover{
  background: #eeeeee !important;
  color:black;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);

}

