.create-order{
    margin: 35px;
}

.input{
 margin:10px 10px 10px 0px !important;
}

.save-btn{
padding: 10px 20px !important;
margin:20px 20px 20px  0px !important;
background: #232F3E !important;
}